html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.00")
    meta(charset="utf-8")
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    link(rel='stylesheet', href='/home.css?ver=1')
    link(rel='stylesheet', href='/style.css')
    meta(property='og:description' content='Ein kleiner Discord-Bot.')
    meta(property='og:title' content='justBot();')
    title="justBot(); | ein Discord-Bot"
    
  body
    include navbar.pug
    .container
      h1 :(
      p Du hast einen 404-Fehler entdeckt.
      | Du gehst nah an den Fehler dran, und bemerkst das die URL <div style="font-family: monospace; display: inline;">https://justbot.zimpatrick.gq#{url}</div> das Problem war.