html
	body
		nav.navbar.navbar-expand-lg.navbar-dark
			a.navbar-brand(href="#") justBot();
			script(src="https://code.jquery.com/jquery-3.4.0.min.js")
			script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				span.navbar-toggler-icon
			#navbarSupportedContent.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href="/")
							| Home 
					//li.nav-item
					//	a.nav-link(href="/serverlist") Server-List
					li.nav-item
						a.nav-link(href="/stats") Stats