html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.00")
    meta(charset="utf-8")
    link(rel='stylesheet', href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css", integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS", crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', href='/stats.css')
    meta(property='og:description' content='Ein kleiner Discord-Bot.')
    meta(property='og:title' content='justBot();')
    title="justBot(); | ein Discord-Bot"
    style="h1 { position: absolute; }"
  body
    include navbar.pug
    .container
      center
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        h1(class="animated fadeInDown") soon™
        
        
        script!="for(let h of document.getElementsByTagName('h1')) {h.style.top = Math.random() * 540+100; h.style.left = Math.random() * 1240+100}"
        
        
        
        